{% extends 'cityapp/layout.html' %}

{% block title %}Famous Person{% endblock %}

{% block content %}
<body>
    <div class="features" style="margin-left: 340px; margin-right: 40px; padding: 20px;">
        <h1>Famous Persons</h1>
        <p>Maybe You know:</p>

        {% for el in famous %}
             <div class="alert alert-secondary">
                 <h3>{{ el.city_name }}</h3>
                 <p>{{ el.pers1 }}</p>
                 <p>{{ el.pers2 }}</p>
                 <p>{{ el.pers3 }}</p>
                 <a href="{% url 'all_famous' %}" class="btn btn-warning">More Information</a>
             </div>
        {% endfor %}

    </div>

</body>

{% endblock %}