{% extends 'cityapp/layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="features">
        <h1 style="font-size: 100px"><span style="color: red">Qazaq</span> Eli</h1>
        <p></p>
        <p style="margin-top: 50px; font-size:20px">Kazakhstan,[d] officially the Republic of Kazakhstan,[e] is a transcontinental country located mainly in Central Asia, and partly in Eastern Europe.[f] It borders Russia in the north and west, China in the east, and Kyrgyzstan, Uzbekistan, and Turkmenistan in the south. The capital is Nur-Sultan, formerly known as Astana. Almaty, Kazakhstan's largest city, was the country's previous capital until 1997. Kazakhstan is the world's largest landlocked country, the world's largest Muslim-majority country by land area (and the northernmost), and the ninth-largest country in the world. It has a population of 19 million, and one of the lowest population densities in the world, at fewer than 6 people per square kilometre (15 people per sq mi).</p>
        <button class="btn btn-warning">More</button>
    </div>
{% endblock %}