{% load static %}
{% load cityapp_tags %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'cityapp/css/style.css' %}">
    <script src="https://kit.fontawesome.com/be35ade309.js" crossorigin="anonymous"></script>
</head>
<body>
    <aside>

        <span class="logo">Qazaq Cities</span>
        <h3>Sections</h3>

        <ul>
            <a href="{% url 'main' %}"><li><i class="fa-solid fa-house"></i>Home</li></a>
            <a href="{% url 'city' %}"><li><i class="fa-solid fa-city"></i>Cities</li></a>
            <a href="{% url 'contacts' %}"><li><i class="fa-solid fa-paper-plane"></i>Contacts</li></a>
            <a href="{% url 'places' %}"><li><i class="fa-solid fa-location-dot"></i></i>Places</li></a>
            <a href="{% url 'news' %}"><li><i class="fa-solid fa-newspaper"></i>News</li></a>
            <a href="{% url 'history' %}"><li><i class="fa-solid fa-book"></i>History</li></a>
            <a href="{% url 'famous' %}"><li><i class="fa-solid fa-star"></i>Famous</li></a>
            <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Registration</button></li></a>


        </ul>

    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>


</body>
</html>