{% extends 'cityapp/layout.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}


<style>
 body{
 background-color: #00000;
    }

</style>
     <title>Prominent persons of Kazakhstan</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body >


<main style="margin-left: 340px; margin-right: 40px; padding: 10px;">

    <section class="py-5 text-center container">
<!--      <div>  <a href="{% url 'main' %}"><button>Home</button> </a> </div>-->
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
                  <h1 class="w3-xxxlarge w3-text-red"><b>News of Kazakhstan</b></h1>
                  <h3 class="w3-xxxlarge w3-text-red">Check out the latest news below.</h3>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container" >

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://cdn.nur.kz/images/1120x630/58d897ce2c4c6f9a.webp?version=1" alt="" width="100%" height="225">

              <div class="card-body" style="height: 100%;">
                <p class="card-text">How unscrupulous developers can deceive Kazakhstanis when selling housing</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" >View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" >Edit</button>
                  </div>
                  <small class="text-muted">recent</small>
                </div>
              </div>
            </div>
          </div>

                    <div class="col">
            <div class="card shadow-sm">
              <img src="https://tengrinews.kz/userdata/news/2022/news_463890/thumb_m/photo_391041.jpeg" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">The head of the National Bank spoke about the impact of the ruble on the tenge.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">today</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="https://cdn.nur.kz/images/1120x630/7dae01e934d373bf.webp?version=1" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">The composition of the bureau of the political council of the Amanat party has been changed.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9th of March</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="https://tengrinews.kz/userdata/news/2022/news_463972/thumb_m/photo_391125.jpeg" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">SCAT will increase the number of flights to Russia.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">2 hours ago</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://tengrinews.kz/userdata/news/2022/news_463932/thumb_m/photo_391091.jpeg" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Secondary housing prices have risen to a record high in Kazakhstan.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted"> 5 hours ago</small>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              <img src="https://tengrinews.kz/userdata/news/2022/news_463962/thumb_m/photo_391118.jpeg" alt="" width="100%" height="225">

              <div class="card-body">
                <p class="card-text">Warming is predicted in the north of Kazakhstan.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">yesterday</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="https://tengritravel.kz/userdata/news/2022/news_463863/thumb_m/photo_391011.jpeg" alt="" width="100%">
              <div class="card-body">
                <p class="card-text">Qatar Airways is the state-owned flag carrier airline. Qatar has simplified entry for tourists from Kazakhstan</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">yesterday</small>
                </div>
              </div>
            </div>
          </div>



          <div class="col">
            <div class="card shadow-sm">
              <img src="https://cdn.nur.kz/images/1120x630/209a5068dc022aa9.webp?version=1" alt="" width="100%" height="225">

              <div class="card-body">
                <p class="card-text">Fox bit two women in Nur-Sultan.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9th of March</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://cdn.nur.kz/images/1120x630/4fb7c56876a52708.webp?version=1" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Twitter wants to poach youth from TikTok.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">8 of March</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</body>
{% endblock %}





<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Prominent persons of Kazakhstan</title>-->

<!--    &lt;!&ndash; CSS only &ndash;&gt;-->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--</head>-->
<!--<body style="width: 95%; margin: 0px auto;">-->
<!--    <div class="container">-->
<!--        <header class="d-flex justify-content-center py-3">-->
<!--        </header>-->
<!--      </div>-->

<!--<main>-->

<!--    <section class="py-5 text-center container">-->
<!--      <div>  <a href="{% url 'main' %}"><button>Home</button> </a> </div>-->
<!--      <div class="row py-lg-5">-->
<!--        <div class="col-lg-6 col-md-8 mx-auto">-->
<!--          <h1 class="fw-light"><h1 style="color:#4682B4;">News of Kazakhstan</h1>-->
<!--          <p class="lead text-muted"><p1 style="color:#6A5ACD;">Check out the latest news below</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

<!--    <div class="album py-5 bg-light">-->
<!--      <div class="container">-->

<!--        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">-->
<!--          <div class="col">-->
<!--            <div class="card shadow-sm">-->
<!--              <img src="https://cdn.nur.kz/images/1120x630/58d897ce2c4c6f9a.webp?version=1" alt="" width="100%" height="225">-->

<!--              <div class="card-body">-->
<!--                <p class="card-text">How unscrupulous developers can deceive Kazakhstanis when selling housing</p>-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                  <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                  </div>-->
<!--                  <small class="text-muted">recent</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <div class="card shadow-sm">-->
<!--              <img src="https://tengrinews.kz/userdata/news/2022/news_463972/thumb_m/photo_391125.jpeg" alt="" width="100%" height="225">-->

<!--              <div class="card-body">-->
<!--                <p class="card-text">SCAT will increase the number of flights to Russia.</p>-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                  <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                  </div>-->
<!--                  <small class="text-muted">2 hours ago</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <div class="card shadow-sm">-->
<!--              <img src="https://tengrinews.kz/userdata/news/2022/news_463932/thumb_m/photo_391091.jpeg" alt="" width="100%" height="225">-->
<!--              <div class="card-body">-->
<!--                <p class="card-text">Secondary housing prices have risen to a record high in Kazakhstan.</p>-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                  <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                  </div>-->
<!--                  <small class="text-muted"> 5 hours ago</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col">-->
<!--            <div class="card shadow-sm">-->
<!--              <img src="https://tengrinews.kz/userdata/news/2022/news_463890/thumb_m/photo_391041.jpeg" alt="" width="100%" height="225">-->
<!--              <div class="card-body">-->
<!--                <p class="card-text">The head of the National Bank spoke about the impact of the ruble on the tenge.</p>-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                  <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                  </div>-->
<!--                  <small class="text-muted">today</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <div class="card shadow-sm">-->
<!--              <img src="https://tengritravel.kz/userdata/news/2022/news_463863/thumb_m/photo_391011.jpeg" alt="" width="100%">-->
<!--              <div class="card-body">-->
<!--                <p class="card-text">Qatar has simplified entry for tourists from Kazakhstan</p>-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                  <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                  </div>-->
<!--                  <small class="text-muted">yesterday</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <div class="card shadow-sm">-->
<!--              <img src="https://tengrinews.kz/userdata/news/2022/news_463962/thumb_m/photo_391118.jpeg" alt="" width="100%" height="225">-->

<!--              <div class="card-body">-->
<!--                <p class="card-text">Warming is predicted in the north of Kazakhstan.</p>-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                  <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                  </div>-->
<!--                  <small class="text-muted">yesterday</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col">-->
<!--            <div class="card shadow-sm">-->
<!--              <img src="https://cdn.nur.kz/images/1120x630/7dae01e934d373bf.webp?version=1" alt="" width="100%" height="225">-->
<!--              <div class="card-body">-->
<!--                <p class="card-text">The composition of the bureau of the political council of the Amanat party has been changed.</p>-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                  <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                  </div>-->
<!--                  <small class="text-muted">9th of March</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <div class="card shadow-sm">-->
<!--              <img src="https://cdn.nur.kz/images/1120x630/209a5068dc022aa9.webp?version=1" alt="" width="100%" height="225">-->

<!--              <div class="card-body">-->
<!--                <p class="card-text">Fox bit two women in Nur-Sultan.</p>-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                  <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                  </div>-->
<!--                  <small class="text-muted">9th of March</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <div class="card shadow-sm">-->
<!--              <img src="https://cdn.nur.kz/images/1120x630/4fb7c56876a52708.webp?version=1" alt="" width="100%" height="225">-->
<!--              <div class="card-body">-->
<!--                <p class="card-text">Twitter wants to poach youth from TikTok.</p>-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                  <div class="btn-group">-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                  </div>-->
<!--                  <small class="text-muted">8 of March</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </main>-->
<!--</body>-->
