{% extends 'cityapp/layout.html' %}

{% block title %}Places{% endblock %}

{% block content %}
    <div class="features" style="margin-left: 340px; margin-right: 40px; padding: 10px;">
        <h1 class="w3-xxxlarge w3-text-red"><b>Interesting Places</b></h1>
        <p>You can Visit:</p>
        {% for el in place %}
             <div class="alert alert-secondary">
                <h3>{{ el.cityname }}</h3>
                <p>{{ el.place1 }}</p>
                <p>{{ el.place2 }}</p>
                 <p>{{ el.place3 }}</p>
            </div>
        {% endfor %}
    </div>

<a href="{% url 'all_places' %}" style="margin-left: 800px; margin-right: 40px; padding: 20px;">More Information</a>

{% endblock %}
