{% extends 'cityapp/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .content-section{
        margin-left: 340px;
        margin-right: 1200px;
    }

</style>
<body>
 <div class="w3-container" style="margin-top:80px" id="showcase">
         <div class="content-section">
      <div class="media">
        <div class="profile-image-wrapper">
            <img class="" src="{{ user.profile.image.url }}">
        </div>
        <div class="media-body">
          <h2 class="account-heading">Hello, {{ user.username }}!</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button type="submit" style="margin-top: 25px; margin-bottom: 25px;">Update</button>
          </div>
      </form>
    </div>
  </div>


</body>
{% endblock content %}